@use "utils.scss";
@use "sass:color";
@use "colors.scss";

.ActionSidebar {
    $window-radius: 12px;

    $border-color: utils.lighten(
        $color: colors.$background,
        $lightness: 20%,
    );

    .container {
        background-color: colors.$background;
        border-top-right-radius: $window-radius;
        border-bottom-right-radius: $window-radius;
        padding-top: 10px;

        @include utils.common-shadow;
        margin-left: 0px;

        @if colors.$light-mode == false {
            border: solid 1px $border-color;
            border-left: none;
        }

        .eyecandy-hour-container {
            margin-top: 10px;

            label {
                font-size: 4rem;
            }

            .separator-container box {
                padding: 7px;
                border-radius: 100px;

                @mixin gen-gradient-step($child, $lightness) {
                    &:nth-child(#{$child}) {
                        background-color: utils.lighten(
                            $color: colors.$accent,
                            $lightness: $lightness
                        );
                    }
                }

                @include gen-gradient-step($child: 1, $lightness: 0%);
                @include gen-gradient-step($child: 2, $lightness: -10%);

                // This is an example that will work for when we have more than two elements
                // @for $i from 0 through 3 {
                //     $lightness: -($i * 10%);
                //     @include gen-gradient-step(
                //         $child: $i + 1,
                //         $lightness: $lightness
                //     );
                // }
            }
        }

        .eyecandy-weekdays-container .weekday-item {
            padding: 8px 10px;

            $soft-active-color: rgba(colors.$accent, 0.1);

            label.label-header {
                color: colors.$accent;
                font-weight: 600;
                font-size: 18px;
            }

            label.day-value {
                font-size: 16px;
                color: utils.lighten(
                    $color: colors.$background,
                    $lightness: 15%
                );
            }

            &.active {
                background-color: $soft-active-color;
                border-radius: 7px;

                label.day-value {
                    color: colors.$foreground;
                }
            }
        }

        // bottom part section, contains notifications and also power buttons
        .bottom-container {
            $base-bg: utils.lighten(
                $color: $border-color,
                $lightness: -15%,
            );

            $light-bg: utils.lighten(
                $color: $base-bg,
                $lightness: 5%,
            );

            $content-padding: 12px;

            .github-notifs-panel {
                background-color: $base-bg;
                border-top-left-radius: $window-radius;
                border-top-right-radius: $window-radius;
                padding: $content-padding;

                .header {
                    .icon {
                        font-size: 1.95em;
                    }

                    .title {
                        font-size: 1.8em;
                    }

                    .help {
                        padding: 6px 8px;
                        font-size: 1.2em;
                        border-radius: 7px;
                        transition: all ease 0.2s;

                        background-color: $light-bg;

                        &:hover {
                            background-color: utils.lighten(
                                $color: $light-bg,
                                $lightness: 5%
                            );
                        }
                    }
                }

                .not-configured-container {
                    $content-color: utils.lighten(
                        $color: colors.$background,
                        $lightness: 20%,
                    );

                    label.github-icon {
                        font-size: 6.25em;
                        color: $content-color;
                    }

                    label {
                        font-size: 1.25em;
                        font-weight: bold;
                        color: $content-color;
                    }
                }
            }

            .footer-container {
                background-color: $base-bg;
                border-bottom-right-radius: $window-radius;

                .sidebar-footer {
                    background-color: $light-bg;
                    border-bottom-right-radius: $window-radius;
                    border-top-right-radius: $window-radius;
                    border-top-left-radius: $window-radius;
                    padding: $content-padding;

                    .profile-photo {
                        border-radius: 100px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }

                    .power-dispatcher {
                        padding: 6px;
                        font-size: 1.15em;
                        border-radius: 7px;
                        transition: all ease 0.2s;

                        $button-base-bg: utils.lighten(
                            $color: $light-bg,
                            $lightness: 5%,
                        );

                        background-color: $button-base-bg;

                        &:hover {
                            background-color: utils.lighten(
                                $color: $button-base-bg,
                                $lightness: 5%
                            );
                        }
                    }
                }
            }
        }
    }
}
