@use "sass:color";
@use "colors.scss";

.ActionSidebar {
    $window-radius: 12px;

    $border-color: color.adjust(
        $color: colors.$background,
        $lightness: 20%,
    );

    .container {
        background-color: colors.$background;
        border-top-right-radius: $window-radius;
        border-bottom-right-radius: $window-radius;
        padding-top: 10px;
        border: solid 1px $border-color;
        border-left: none;

        .eyecandy-hour-container {
            margin-top: 10px;

            label {
                font-size: 4rem;
            }

            .separator-container box {
                padding: 7px;
                border-radius: 100px;

                @mixin gen-gradient-step($child, $lightness) {
                    &:nth-child(#{$child}) {
                        background-color: color.adjust(
                            $color: colors.$accent,
                            $lightness: $lightness
                        );
                    }
                }

                @include gen-gradient-step($child: 1, $lightness: 0%);
                @include gen-gradient-step($child: 2, $lightness: -10%);

                // This is an example that will work for when we have more than two elements
                // @for $i from 0 through 3 {
                //     $lightness: -($i * 10%);
                //     @include gen-gradient-step(
                //         $child: $i + 1,
                //         $lightness: $lightness
                //     );
                // }
            }
        }

        .eyecandy-weekdays-container .weekday-item {
            padding: 8px 10px;

            $soft-active-color: rgba(colors.$accent, 0.1);

            label.label-header {
                color: colors.$accent;
                font-weight: 600;
                font-size: 18px;
            }

            label.day-value {
                color: colors.$hovered;
                font-size: 16px;
            }

            &.active {
                background-color: $soft-active-color;
                border-radius: 7px;

                label.day-value {
                    color: colors.$foreground;
                }
            }
        }

        // bottom part section, contains notifications and also power buttons
        .bottom-container {
            $base-bg: color.adjust(
                $color: $border-color,
                $lightness: -15%,
            );
            $light-bg: color.adjust(
                $color: $base-bg,
                $lightness: 5%,
            );
            $content-padding: 12px;

            .notifications-panel {
                background-color: $base-bg;
                border-top-left-radius: $window-radius;
                border-top-right-radius: $window-radius;
                padding: $content-padding;
            }

            .footer-container {
                background-color: $base-bg;
                border-bottom-right-radius: $window-radius;

                .sidebar-footer {
                    background-color: $light-bg;
                    border-bottom-right-radius: $window-radius;
                    border-top-right-radius: $window-radius;
                    border-top-left-radius: $window-radius;
                    padding: $content-padding;
                }
            }
        }
    }
}
