@use "sass:color";

$light-mode: false;

@function for-theme($light, $dark) {
    @if $light-mode == true {
        @return $light;
    } @else {
        @return $dark;
    }

    @return $dark;
}

$background: #0c0c0c;
$foreground: #999993;

$accent: #53a6a6;
$secondary: #9e9ecb;

// workspaces
$ws-hovered: #3d3d3d;

$ws-accent: for-theme(
    $light: $background,
    $dark: $accent,
);

$ws-occupied: for-theme(
    $light: $accent,
    $dark: color.adjust(
        $color: $background,
        $lightness: 15%,
    ),
);
