@use "sass:color";

$light-mode: true;

@function for-theme($light, $dark) {
    @if $light-mode == true {
        @return $light;
    } @else {
        @return $dark;
    }

    @return $dark;
}

$background: #f4ecec;
$foreground: #101419;

$accent: #bb8787;
$secondary: #7272ca;

// workspaces
$ws-hovered: $secondary;

$ws-accent: for-theme(
    $light: $background,
    $dark: $accent,
);

$ws-occupied: for-theme(
    $light: $accent,
    $dark: color.adjust(
            $color: $background,
            $lightness: 15%,
        ),
);
