@use "sass:color";
@use "colors.scss";

.Dock {
    .container {
        background-color: colors.$background;
        border: solid 1px
            color.adjust($color: colors.$background, $lightness: 12%);
        border-bottom: none;
        color: colors.$foreground;
        padding: 7px 7px 4px 7px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: all ease 0.2s;

        .appButton {
            transition: all ease 0.2s;
            border-radius: 7px;
            padding: 0.25em 0.45em;

            &:hover {
                background-color: color.adjust(
                    $color: colors.$background,
                    $lightness: 5%
                );
            }

            icon {
                font-size: 2.75em;
            }

            .indicator {
                background-color: colors.$accent;
                padding: 1px 10px;
                transition: all ease 0.2s;
                border-radius: 100px;

                &.hide {
                    background-color: colors.$hovered;
                    padding: 1px 2px;
                }
            }
        }
    }
}
