@use "utils.scss";
@use "colors.scss";

.Dock {
    $win-border-color: utils.lighten(
        $color: colors.$background,
        $lightness: 12%,
    );

    $hover-button-color: utils.lighten(
        $color: colors.$background,
        $lightness: 5%,
    );

    button {
        transition: all ease 0.2s;
        padding: 0.25em 0.45em;
        border-radius: 7px;

        &:hover {
            background-color: $hover-button-color;
        }

        icon {
            font-size: 2.75em;
        }
    }

    @mixin common-window {
        @if colors.$light-mode == false {
            border: solid 1px $win-border-color;
        }

        @include utils.common-shadow();

        margin-top: 9px;
    }

    .actions-dock-container {
        background-color: colors.$background;
        color: colors.$foreground;
        padding: 7px;
        border-radius: 12px;
        transition: all ease 0.2s;

        @include common-window();

        // fix shadow horizontally
        margin-left: 10px;

        // tweak again with these values to match sizes of icons
        // on the main dock with indicator on bottom of them.
        button {
            padding: 0.45em 0.5em;

            icon {
                font-size: 2.5em;
            }
        }
    }

    .apps-dock-container {
        background-color: colors.$background;
        color: colors.$foreground;
        padding: 7px;
        border-radius: 12px;
        transition: all ease 0.2s;

        @include common-window();

        // fix shadow horizontally
        margin-right: 10px;

        .appButton .indicator {
            background-color: colors.$accent;
            padding: 1px 10px;
            transition: all ease 0.2s;
            border-radius: 100px;

            &.hide {
                padding: 1px 2px;
                background-color: utils.lighten(
                    $color: colors.$background,
                    $lightness: 15%
                );
            }
        }
    }
}
